#name{
    width: 350px;
}

#add-button{
    margin-top: 5px;
    margin-left: 20px;
    background-color: green;
    width: 100px;
    height: 25px;
}

#table{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid;
}

.delBut{
    margin-left: 10px;
    background-color: red;
    border: none;
}

th ,td{
    border-bottom: 1px solid;
    border-right: 1px solid;
}

td{
    background-color: grey;
}
